.news-detail {
   
    
    position: absolute;
padding: 0 ; 
padding-bottom: 100rem;
    height: 100%;
    h2 {
      margin-bottom: 10px;
      font-size: 24px;
      color: #333;
    }
  
    p {
      margin-bottom: 20px;
    }
  
    .details {
      font-size: 14px;
      color: #777;
      margin-top: 10px;
    }
  
    .like {
      color: #f76d57;
      font-weight: bold;
    }
  
    .author {
      color: #4d9de0;
    }
  
    .date {
      color: #555;
    }
  }
  